.imgGatito img
{
    height: 250px;
    width: 1348px;
    color: aliceblue;
    background-color: darkgray;
    background-size: 100%;
    
}
#Capa_2 {
    width: 43px;
    color:#fff;
}

#ttl{
    text-align: left;
    position: absolute;
    font-size: 60px;
    color: #fff;
}
.btn-success{
    background-color: rebeccapurple;

}
 /*
.footer{
    height: 80px;
    background-color: #000;
    color:#fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

  }

  #term{
    text-align: center;
    font-size: 15px;
    display: inline-block;
   padding: 2%;
  }*/